<form [formGroup]="form" (ngSubmit)="submit()">
    <span (click)="modalService.close()">X</span> 
    <h2 class="title">Edit a ToDo</h2>
    <label for="title"></label>
    <textarea placeholder="Start typing ..." rows="5" cols="33" formControlName="title" value="{{ todo.title }}"></textarea>
    <p class="error" *ngIf="form.get('title').errors?.required">Fill title field</p>
    <button class="btn" type="submit" [disabled]="form.invalid" [ngClass]="{disabled: form.invalid}">
        <p></p><p>Save ToDo</p> <img src="../../../assets/img/Group.svg" alt="">
    </button>
</form>
